<% if IngredientCategory.without_cat(current_user) != [] %>
  <%= link_to "Edit ingredient", edit_ingredient_category_path(IngredientCategory.without_cat(current_user).first), class: "btn btn-primary", data: { turbo_frame: "remote_modal" }%>
<% end %>

<!-- <div class="d-flex row">
  <% @categories.each do |category|%>
  <div class="m-auto my-4 col-4 text-center">
    <%= category.name %>
    <div class="category-container mt-2" style="background-image: url('<%= image_path category.image %>')"></div>
  </div>
  <% end %>
</div>
-->

<div class="container">
  <div class="d-flex flex-row justify-content-around">
    <div class="col-sm">
      One of two columns
    </div>
    <div class="col-sm">
      One of two columns
    </div>
  </div>
</div>
