<h3>Mes recettes:</h3>
<div class="container">
  <% @user_recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe.recipe), class:"link-text" do %>
      <%= render 'shared/recipe_list', recipe: recipe.recipe  %>
    <% end %>
  <% end %>
</div>
