<div class="container my-2">
  <h3>Chercher une nouvelle recette?</h3>
  <form action="/recipes" method="get">
    <div class="form-group d-flex ">
      <input type="text" name="ingredient" class="form-control" placeholder="Par quel plat/ingredient voulez-vous rechercher?">
      <input type="submit" class="btn btn-primary btn-lg">
    </div>
  </form>
  <% unless @new_recipes.nil? %>
    <div class="container">
      <% @new_recipes.each do |recipe| %>
        <%= render 'shared/recipe_list', recipe: recipe  %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="container">
  <h3>Chercher parmi nos recettes?</h3>
  <% @recipes.shuffle.first(5).each do |recipe| %>
    <%= render 'shared/recipe_list', recipe: recipe  %>
  <% end %>
</div>
