<div class="notification d-flex align-items-center">
  <p><%= IngredientCategory.includes([:user_category]).count { |ingredientcat| ingredientcat.user_category.name == "à renseigner" }  %></p>
</div>
