<div class="d-flex row">
  <% @categories.each do |category|%>
  <div class="m-auto my-4 col-4 text-center">
    <%= category.name %>
    <div class="category-container mt-2" style="background-image: url('<%= image_path category.image %>')"></div>
  </div>
  <% end %>
</div>

<%= link_to "Edit ingredient", edit_ingredient_path(Ingredient.without_cat.first), class: "btn btn-primary", data: { turbo_frame: "remote_modal" }%>
