.card-list {
  height: 96px;
  margin: 15px;


  h6 {
    font-size: 12px;
  }

  p {
    font-size: 10px;
  }


  .plus-icon {
    width: 20px;
    height: 20px;
  }

  img {
    width: 96px;
    height: 96px;
  }

}
.link-test {
  color: #000;
}

.fa-star {
  color: #FFD700;
  font-size: 10px;
}

a {
  all: unset;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}

.plus {
  width: 20px;
  height: 20px;
  margin-bottom: 0.5rem;
}

#button-add {
  margin-bottom: 0.5rem;
  margin-left: auto;
}
