.card-list {
  height: 96px;
  margin: 15px;


  h6 {
    font-size: 12px;
  }

  p {
    font-size: 10px;
  }

  img {
    width: 96px;
    height: 96px;
  }

  .plus {
    width: 20px;
    height: 20px;
  }

}
.link-test {
  color: #000;
}

.fa-star {
  color: #FFD700;
  font-size: 10px;
}

a {
  all: unset;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}
