.category-container {
  background-size: cover;
  background-position: center;
  height: 50px;
  width: 50px;
  text-align: center;
  align-items: center;
}
.ingredient-list {
  overflow-y: scroll;
  max-height: 60vh;
  max-width: 90vh;
}
.category-list {
  text-align: center;
  overflow-y: scroll;
  max-height: 60vh;
  max-width: 90vh;
}
.category-card {
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
}

.drag-over{
background-color: #c0c0c0;
}

.drag-over-drop {
  animation: blinkingBackground 0.6s;
}

@keyframes blinkingBackground {
  0% {
    background-color: #FFFFFF;
  }

  25% {
    background-color: #c0c0c0;
  }

  50% {
    background-color: #FFFFFF;
  }

  75% {
    background-color: #c0c0c0;
  }

  100% {
    background-color: #FFFFFF;
  }
}
